In [9]:
pip install pandas==1.2.3

Collecting pandas==1.2.3
  Downloading pandas-1.2.3.tar.gz (5.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.5/5.5 MB 2.4 MB/s eta 0:00:0000:0100:01
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: pytz>=2017.3 in /usr/local/Cellar/jupyterlab/3.4.7/libexec/lib/python3.10/site-packages (from pandas==1.2.3) (2022.2.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/Cellar/jupyterlab/3.4.7/libexec/lib/python3.10/site-packages (from pandas==1.2.3) (2.8.2)
Requirement already satisfied: numpy>=1.16.5 in /usr/local/Cellar/jupyterlab/3.4.7/libexec/lib/python3.10/site-packages (from pandas==1.2.3) (1.23.5)
Requirement already satisfied: six>=1.5 in /usr/local/Cellar/six/1.16.0_2/lib/python3.10/site-packages (from python-dateutil>=2.7.3->pandas==1.2.3) (1.16.0)
Building wheels for collected packages: pandas
  Building wheel for pandas (pyproject.toml) ... done
  Created wheel for pandas: filename=pandas-1.2.3-cp310-cp310-macosx_12_0_x86_64.whl size=10358671 sha256=e2f46c667eb0efc623dc158eb3b4b8b46f23ccd5e270cd2f4190f98b1a4627bf
  Stored in directory: /Users/gichelli/Library/Caches/pip/wheels/40/a7/36/5b21e0025d0800b2af4ebf7e7d8139bce4594ddd5ac8a98a70
Successfully built pandas
Installing collected packages: pandas
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
ydata-profiling 4.5.1 requires visions[type_image_path]==0.7.5, but you have visions 0.6.0 which is incompatible.
Successfully installed pandas-1.2.3

[notice] A new release of pip available: 22.2.2 -> 23.2.1
[notice] To update, run: python3.10 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [25]:
pip install jupyterlab==3.0.12

Collecting jupyterlab==3.0.12
  Downloading jupyterlab-3.0.12-py3-none-any.whl (8.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.3/8.3 MB 2.7 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: jupyterlab-server~=2.3 in /usr/local/Cellar/jupyterlab/3.4.7/libexec/lib/python3.10/site-packages (from jupyterlab==3.0.12) (2.15.1)
Collecting jupyter-packaging~=0.7.3
  Downloading jupyter_packaging-0.7.12-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: packaging in /usr/local/Cellar/jupyterlab/3.4.7/libexec/lib/python3.10/site-packages (from jupyterlab==3.0.12) (21.3)
Requirement already satisfied: nbclassic~=0.2 in /usr/local/Cellar/jupyterlab/3.4.7/libexec/lib/python3.10/site-packages (from jupyterlab==3.0.12) (0.4.3)
Requirement already satisfied: ipython in /usr/local/Cellar/jupyterlab/3.4.7/libexec/lib/python3.10/site-packages (from jupyterlab==3.0.12) (8.5.0)
Requirement already satisfied: jinja2>=2.10 in /usr/local/Cellar/jupyterlab/3.4.7/libexec/lib/python3.10/site-packages (from jupyterlab==3.0.12) (3.1.2)
Requirement already satisfied: jupyter-core in /usr/local/Cellar/jupyterlab/3.4.7/libexec/lib/python3.10/site-packages (from jupyterlab==3.0.12) (4.11.1)
Requirement already satisfied: jupyter-server~=1.4 in /usr/local/Cellar/jupyterlab/3.4.7/libexec/lib/python3.10/site-packages (from jupyterlab==3.0.12) (1.18.1)
Requirement already satisfied: tornado>=6.1.0 in /usr/local/Cellar/jupyterlab/3.4.7/libexec/lib/python3.10/site-packages (from jupyterlab==3.0.12) (6.2)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/Cellar/jupyterlab/3.4.7/libexec/lib/python3.10/site-packages (from jinja2>=2.10->jupyterlab==3.0.12) (2.0.1)
Requirement already satisfied: terminado>=0.8.3 in /usr/local/Cellar/jupyterlab/3.4.7/libexec/lib/python3.10/site-packages (from jupyter-server~=1.4->jupyterlab==3.0.12) (0.15.0)
Requirement already satisfied: argon2-cffi in /usr/local/Cellar/jupyterlab/3.4.7/libexec/lib/python3.10/site-packages (from jupyter-server~=1.4->jupyterlab==3.0.12) (21.3.0)
Requirement already satisfied: nbconvert>=6.4.4 in /usr/local/Cellar/jupyterlab/3.4.7/libexec/lib/python3.10/site-packages (from jupyter-server~=1.4->jupyterlab==3.0.12) (7.0.0)
Requirement already satisfied: pyzmq>=17 in /usr/local/Cellar/jupyterlab/3.4.7/libexec/lib/python3.10/site-packages (from jupyter-server~=1.4->jupyterlab==3.0.12) (23.2.1)
Requirement already satisfied: traitlets>=5.1 in /usr/local/Cellar/jupyterlab/3.4.7/libexec/lib/python3.10/site-packages (from jupyter-server~=1.4->jupyterlab==3.0.12) (5.4.0)
Requirement already satisfied: websocket-client in /usr/local/Cellar/jupyterlab/3.4.7/libexec/lib/python3.10/site-packages (from jupyter-server~=1.4->jupyterlab==3.0.12) (1.4.1)
Requirement already satisfied: prometheus-client in /usr/local/Cellar/jupyterlab/3.4.7/libexec/lib/python3.10/site-packages (from jupyter-server~=1.4->jupyterlab==3.0.12) (0.14.1)
Requirement already satisfied: anyio<4,>=3.1.0 in /usr/local/Cellar/jupyterlab/3.4.7/libexec/lib/python3.10/site-packages (from jupyter-server~=1.4->jupyterlab==3.0.12) (3.6.1)
Requirement already satisfied: nbformat>=5.2.0 in /usr/local/Cellar/jupyterlab/3.4.7/libexec/lib/python3.10/site-packages (from jupyter-server~=1.4->jupyterlab==3.0.12) (5.5.0)
Requirement already satisfied: Send2Trash in /usr/local/Cellar/jupyterlab/3.4.7/libexec/lib/python3.10/site-packages (from jupyter-server~=1.4->jupyterlab==3.0.12) (1.8.0)
Requirement already satisfied: jupyter-client>=6.1.12 in /usr/local/Cellar/jupyterlab/3.4.7/libexec/lib/python3.10/site-packages (from jupyter-server~=1.4->jupyterlab==3.0.12) (7.3.5)
Requirement already satisfied: babel in /usr/local/Cellar/jupyterlab/3.4.7/libexec/lib/python3.10/site-packages (from jupyterlab-server~=2.3->jupyterlab==3.0.12) (2.10.3)
Requirement already satisfied: requests in /usr/local/Cellar/jupyterlab/3.4.7/libexec/lib/python3.10/site-packages (from jupyterlab-server~=2.3->jupyterlab==3.0.12) (2.28.1)
Requirement already satisfied: jsonschema>=3.0.1 in /usr/local/Cellar/jupyterlab/3.4.7/libexec/lib/python3.10/site-packages (from jupyterlab-server~=2.3->jupyterlab==3.0.12) (4.16.0)
Requirement already satisfied: json5 in /usr/local/Cellar/jupyterlab/3.4.7/libexec/lib/python3.10/site-packages (from jupyterlab-server~=2.3->jupyterlab==3.0.12) (0.9.10)
Requirement already satisfied: ipython-genutils in /usr/local/Cellar/jupyterlab/3.4.7/libexec/lib/python3.10/site-packages (from nbclassic~=0.2->jupyterlab==3.0.12) (0.2.0)
Requirement already satisfied: ipykernel in /usr/local/Cellar/jupyterlab/3.4.7/libexec/lib/python3.10/site-packages (from nbclassic~=0.2->jupyterlab==3.0.12) (6.15.3)
Requirement already satisfied: nest-asyncio>=1.5 in /usr/local/Cellar/jupyterlab/3.4.7/libexec/lib/python3.10/site-packages (from nbclassic~=0.2->jupyterlab==3.0.12) (1.5.5)
Requirement already satisfied: notebook-shim>=0.1.0 in /usr/local/Cellar/jupyterlab/3.4.7/libexec/lib/python3.10/site-packages (from nbclassic~=0.2->jupyterlab==3.0.12) (0.1.0)
Requirement already satisfied: jedi>=0.16 in /usr/local/Cellar/jupyterlab/3.4.7/libexec/lib/python3.10/site-packages (from ipython->jupyterlab==3.0.12) (0.18.1)
Requirement already satisfied: pickleshare in /usr/local/Cellar/jupyterlab/3.4.7/libexec/lib/python3.10/site-packages (from ipython->jupyterlab==3.0.12) (0.7.5)
Requirement already satisfied: backcall in /usr/local/Cellar/jupyterlab/3.4.7/libexec/lib/python3.10/site-packages (from ipython->jupyterlab==3.0.12) (0.2.0)
Requirement already satisfied: appnope in /usr/local/Cellar/jupyterlab/3.4.7/libexec/lib/python3.10/site-packages (from ipython->jupyterlab==3.0.12) (0.1.3)
Requirement already satisfied: matplotlib-inline in /usr/local/Cellar/jupyterlab/3.4.7/libexec/lib/python3.10/site-packages (from ipython->jupyterlab==3.0.12) (0.1.6)
Requirement already satisfied: pygments>=2.4.0 in /usr/local/Cellar/jupyterlab/3.4.7/libexec/lib/python3.10/site-packages (from ipython->jupyterlab==3.0.12) (2.13.0)
Requirement already satisfied: stack-data in /usr/local/Cellar/jupyterlab/3.4.7/libexec/lib/python3.10/site-packages (from ipython->jupyterlab==3.0.12) (0.5.0)
Requirement already satisfied: decorator in /usr/local/Cellar/jupyterlab/3.4.7/libexec/lib/python3.10/site-packages (from ipython->jupyterlab==3.0.12) (5.1.1)
Requirement already satisfied: prompt-toolkit<3.1.0,>3.0.1 in /usr/local/Cellar/jupyterlab/3.4.7/libexec/lib/python3.10/site-packages (from ipython->jupyterlab==3.0.12) (3.0.31)
Requirement already satisfied: pexpect>4.3 in /usr/local/Cellar/jupyterlab/3.4.7/libexec/lib/python3.10/site-packages (from ipython->jupyterlab==3.0.12) (4.8.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/Cellar/jupyterlab/3.4.7/libexec/lib/python3.10/site-packages (from packaging->jupyterlab==3.0.12) (3.0.9)
Requirement already satisfied: sniffio>=1.1 in /usr/local/Cellar/jupyterlab/3.4.7/libexec/lib/python3.10/site-packages (from anyio<4,>=3.1.0->jupyter-server~=1.4->jupyterlab==3.0.12) (1.3.0)
Requirement already satisfied: idna>=2.8 in /usr/local/Cellar/jupyterlab/3.4.7/libexec/lib/python3.10/site-packages (from anyio<4,>=3.1.0->jupyter-server~=1.4->jupyterlab==3.0.12) (3.4)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/Cellar/jupyterlab/3.4.7/libexec/lib/python3.10/site-packages (from jedi>=0.16->ipython->jupyterlab==3.0.12) (0.8.3)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/Cellar/jupyterlab/3.4.7/libexec/lib/python3.10/site-packages (from jsonschema>=3.0.1->jupyterlab-server~=2.3->jupyterlab==3.0.12) (22.1.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/Cellar/jupyterlab/3.4.7/libexec/lib/python3.10/site-packages (from jsonschema>=3.0.1->jupyterlab-server~=2.3->jupyterlab==3.0.12) (0.18.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/Cellar/jupyterlab/3.4.7/libexec/lib/python3.10/site-packages (from jupyter-client>=6.1.12->jupyter-server~=1.4->jupyterlab==3.0.12) (2.8.2)
Requirement already satisfied: entrypoints in /usr/local/Cellar/jupyterlab/3.4.7/libexec/lib/python3.10/site-packages (from jupyter-client>=6.1.12->jupyter-server~=1.4->jupyterlab==3.0.12) (0.4)

Requirement already satisfied: defusedxml in /usr/local/Cellar/jupyterlab/3.4.7/libexec/lib/python3.10/site-packages (from nbconvert>=6.4.4->jupyter-server~=1.4->jupyterlab==3.0.12) (0.7.1)
Requirement already satisfied: jupyterlab-pygments in /usr/local/Cellar/jupyterlab/3.4.7/libexec/lib/python3.10/site-packages (from nbconvert>=6.4.4->jupyter-server~=1.4->jupyterlab==3.0.12) (0.2.2)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/Cellar/jupyterlab/3.4.7/libexec/lib/python3.10/site-packages (from nbconvert>=6.4.4->jupyter-server~=1.4->jupyterlab==3.0.12) (1.5.0)
Requirement already satisfied: bleach in /usr/local/Cellar/jupyterlab/3.4.7/libexec/lib/python3.10/site-packages (from nbconvert>=6.4.4->jupyter-server~=1.4->jupyterlab==3.0.12) (5.0.1)
Requirement already satisfied: mistune<3,>=2.0.3 in /usr/local/Cellar/jupyterlab/3.4.7/libexec/lib/python3.10/site-packages (from nbconvert>=6.4.4->jupyter-server~=1.4->jupyterlab==3.0.12) (2.0.4)
Requirement already satisfied: beautifulsoup4 in /usr/local/Cellar/jupyterlab/3.4.7/libexec/lib/python3.10/site-packages (from nbconvert>=6.4.4->jupyter-server~=1.4->jupyterlab==3.0.12) (4.11.1)
Requirement already satisfied: tinycss2 in /usr/local/Cellar/jupyterlab/3.4.7/libexec/lib/python3.10/site-packages (from nbconvert>=6.4.4->jupyter-server~=1.4->jupyterlab==3.0.12) (1.1.1)
Requirement already satisfied: lxml in /usr/local/Cellar/jupyterlab/3.4.7/libexec/lib/python3.10/site-packages (from nbconvert>=6.4.4->jupyter-server~=1.4->jupyterlab==3.0.12) (4.9.1)
Requirement already satisfied: nbclient>=0.5.0 in /usr/local/Cellar/jupyterlab/3.4.7/libexec/lib/python3.10/site-packages (from nbconvert>=6.4.4->jupyter-server~=1.4->jupyterlab==3.0.12) (0.6.8)
Requirement already satisfied: fastjsonschema in /usr/local/Cellar/jupyterlab/3.4.7/libexec/lib/python3.10/site-packages (from nbformat>=5.2.0->jupyter-server~=1.4->jupyterlab==3.0.12) (2.16.1)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/Cellar/jupyterlab/3.4.7/libexec/lib/python3.10/site-packages (from pexpect>4.3->ipython->jupyterlab==3.0.12) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/Cellar/jupyterlab/3.4.7/libexec/lib/python3.10/site-packages (from prompt-toolkit<3.1.0,>3.0.1->ipython->jupyterlab==3.0.12) (0.2.5)
Requirement already satisfied: argon2-cffi-bindings in /usr/local/Cellar/jupyterlab/3.4.7/libexec/lib/python3.10/site-packages (from argon2-cffi->jupyter-server~=1.4->jupyterlab==3.0.12) (21.2.0)
Requirement already satisfied: pytz>=2015.7 in /usr/local/Cellar/jupyterlab/3.4.7/libexec/lib/python3.10/site-packages (from babel->jupyterlab-server~=2.3->jupyterlab==3.0.12) (2022.2.1)
Requirement already satisfied: psutil in /usr/local/Cellar/jupyterlab/3.4.7/libexec/lib/python3.10/site-packages (from ipykernel->nbclassic~=0.2->jupyterlab==3.0.12) (5.9.2)
Requirement already satisfied: debugpy>=1.0 in /usr/local/Cellar/jupyterlab/3.4.7/libexec/lib/python3.10/site-packages (from ipykernel->nbclassic~=0.2->jupyterlab==3.0.12) (1.6.3)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/Cellar/jupyterlab/3.4.7/libexec/lib/python3.10/site-packages (from requests->jupyterlab-server~=2.3->jupyterlab==3.0.12) (2.1.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/Cellar/jupyterlab/3.4.7/libexec/lib/python3.10/site-packages (from requests->jupyterlab-server~=2.3->jupyterlab==3.0.12) (2022.6.15.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/Cellar/jupyterlab/3.4.7/libexec/lib/python3.10/site-packages (from requests->jupyterlab-server~=2.3->jupyterlab==3.0.12) (1.26.12)
Requirement already satisfied: asttokens in /usr/local/Cellar/jupyterlab/3.4.7/libexec/lib/python3.10/site-packages (from stack-data->ipython->jupyterlab==3.0.12) (2.0.8)
Requirement already satisfied: pure-eval in /usr/local/Cellar/jupyterlab/3.4.7/libexec/lib/python3.10/site-packages (from stack-data->ipython->jupyterlab==3.0.12) (0.2.2)
Requirement already satisfied: executing in /usr/local/Cellar/jupyterlab/3.4.7/libexec/lib/python3.10/site-packages (from stack-data->ipython->jupyterlab==3.0.12) (1.0.0)
Requirement already satisfied: six>=1.5 in /usr/local/Cellar/six/1.16.0_2/lib/python3.10/site-packages (from python-dateutil>=2.8.2->jupyter-client>=6.1.12->jupyter-server~=1.4->jupyterlab==3.0.12) (1.16.0)
Requirement already satisfied: cffi>=1.0.1 in /usr/local/Cellar/jupyterlab/3.4.7/libexec/lib/python3.10/site-packages (from argon2-cffi-bindings->argon2-cffi->jupyter-server~=1.4->jupyterlab==3.0.12) (1.15.1)
Requirement already satisfied: soupsieve>1.2 in /usr/local/Cellar/jupyterlab/3.4.7/libexec/lib/python3.10/site-packages (from beautifulsoup4->nbconvert>=6.4.4->jupyter-server~=1.4->jupyterlab==3.0.12) (2.3.2.post1)
Requirement already satisfied: webencodings in /usr/local/Cellar/jupyterlab/3.4.7/libexec/lib/python3.10/site-packages (from bleach->nbconvert>=6.4.4->jupyter-server~=1.4->jupyterlab==3.0.12) (0.5.1)
Requirement already satisfied: pycparser in /usr/local/Cellar/jupyterlab/3.4.7/libexec/lib/python3.10/site-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi->jupyter-server~=1.4->jupyterlab==3.0.12) (2.21)
Installing collected packages: jupyter-packaging, jupyterlab
  Attempting uninstall: jupyterlab
    Found existing installation: jupyterlab 3.4.7
    Uninstalling jupyterlab-3.4.7:
      Successfully uninstalled jupyterlab-3.4.7
Successfully installed jupyter-packaging-0.7.12 jupyterlab-3.0.12

[notice] A new release of pip available: 22.2.2 -> 23.2.1
[notice] To update, run: python3.10 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [28]:
pip uninstall -y pandas-profiling

Found existing installation: pandas-profiling 3.1.0
Uninstalling pandas-profiling-3.1.0:
  Successfully uninstalled pandas-profiling-3.1.0
Note: you may need to restart the kernel to use updated packages.

In [14]:
pip install wandb==0.10.31

In [1]:
# pip install pandas-profiling

In [2]:
pip show pandas-profiling

Name: pandas-profiling
Version: 3.6.6
Summary: Deprecated 'pandas-profiling' package, use 'ydata-profiling' instead
Home-page: https://github.com/ydataai/pandas-profiling
Author: YData Labs Inc
Author-email: opensource@ydata.ai
License: MIT
Location: /usr/local/Cellar/jupyterlab/3.4.7/libexec/lib/python3.10/site-packages
Requires: ydata-profiling
Required-by:
Note: you may need to restart the kernel to use updated packages.

Within the notebook, fetch the artifact we just created (sample.csv) from W&B and read it with pandas:

In [1]:
import wandb
import pandas as pd
# import pandas_profiling

In [2]:
run = wandb.init(project="nyc_airbnb", group="eda", save_code=True)
local_path = wandb.use_artifact("sample.csv:latest").file()
df = pd.read_csv(local_path)

wandb: Currently logged in as: gichelli_vento (use `wandb login --relogin` to force relogin)
/opt/anaconda3/envs/nyc_airbnb_dev/lib/python3.9/site-packages/IPython/html.py:12: ShimWarning: The `IPython.html` package has been deprecated since IPython 4.0. You should import from `notebook` instead. `IPython.html.widgets` has moved to `ipywidgets`.
  warn("The `IPython.html` package has been deprecated since IPython 4.0. "
wandb: wandb version 0.15.8 is available!  To upgrade, please run:
wandb:  $ pip install wandb --upgrade

In [3]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,9138664,Private Lg Room 15 min to Manhattan,47594947,Iris,Queens,Sunnyside,40.74271,-73.92493,Private room,74,2,6,2019-05-26,0.13,1,5
1,31444015,TIME SQUARE CHARMING ONE BED IN HELL'S KITCHEN...,8523790,Johlex,Manhattan,Hell's Kitchen,40.76682,-73.98878,Entire home/apt,170,3,0,NaN,NaN,1,188
2,8741020,Voted #1 Location Quintessential 1BR W Village...,45854238,John,Manhattan,West Village,40.73631,-74.00611,Entire home/apt,245,3,51,2018-09-19,1.12,1,0
3,34602077,Spacious 1 bedroom apartment 15min from Manhattan,261055465,Regan,Queens,Astoria,40.76424,-73.92351,Entire home/apt,125,3,1,2019-05-24,0.65,1,13
4,23203149,Big beautiful bedroom in huge Bushwick apartment,143460,Megan,Brooklyn,Bushwick,40.69839,-73.92044,Private room,65,2,8,2019-06-23,0.52,2,8

In [4]:
df.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,2.000000e+04,2.000000e+04,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,15877.000000,20000.000000,20000.000000
mean,1.892380e+07,6.746034e+07,40.728455,-73.952125,153.269050,6.992100,23.274100,1.377446,6.955450,112.901200
std,1.101223e+07,7.857936e+07,0.054755,0.046559,243.325609,21.645449,44.927793,1.683006,32.433831,131.762226
min,2.539000e+03,2.571000e+03,40.508730,-74.239140,0.000000,1.000000,0.000000,0.010000,1.000000,0.000000
25%,9.393540e+06,7.853718e+06,40.689420,-73.983030,69.000000,1.000000,1.000000,0.190000,1.000000,0.000000
50%,1.952117e+07,3.111431e+07,40.722730,-73.955640,105.000000,2.000000,5.000000,0.720000,1.000000,44.000000
75%,2.912936e+07,1.068426e+08,40.762990,-73.936380,175.000000,5.000000,23.000000,2.010000,2.000000,229.000000
max,3.648561e+07,2.742733e+08,40.913060,-73.717950,10000.000000,1250.000000,607.000000,27.950000,327.000000,365.000000

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              20000 non-null  int64
 1   name                            19993 non-null  object
 2   host_id                         20000 non-null  int64
 3   host_name                       19992 non-null  object
 4   neighbourhood_group             20000 non-null  object
 5   neighbourhood                   20000 non-null  object
 6   latitude                        20000 non-null  float64
 7   longitude                       20000 non-null  float64
 8   room_type                       20000 non-null  object
 9   price                           20000 non-null  int64
 10  minimum_nights                  20000 non-null  int64
 11  number_of_reviews               20000 non-null  int64
 12  last_review                     15877 non-null  object
 13  reviews_per_month               15877 non-null  float64
 14  calculated_host_listings_count  20000 non-null  int64
 15  availability_365                20000 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 2.4+ MB

In [22]:
df.last_review[0]
type(df.last_review[0])

str

In [49]:
profile = pandas_profiling.ProfileReport(df)
profile.to_widgets()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,neighbourhood_group,room_type
id,1.000000,0.558145,-0.001193,0.066518,-0.026606,-0.068274,-0.302146,0.368858,0.133321,0.164731,0.059137,0.070785
host_id,0.558145,1.000000,0.041903,0.106627,-0.073509,-0.138851,-0.117507,0.275662,0.144830,0.172829,0.098353,0.092035
latitude,-0.001193,0.041903,1.000000,0.040318,0.138701,0.017124,-0.038288,-0.027334,0.002377,-0.009651,0.538339,0.111624
longitude,0.066518,0.106627,0.040318,1.000000,-0.436764,-0.121498,0.080778,0.117056,0.062861,0.061113,0.648797,0.153825
price,-0.026606,-0.073509,0.138701,-0.436764,1.000000,0.103245,-0.050723,-0.018707,-0.101398,0.091799,0.010046,0.022859
minimum_nights,-0.068274,-0.138851,0.017124,-0.121498,0.103245,1.000000,-0.159285,-0.288277,0.063765,0.081264,0.000000,0.020005
number_of_reviews,-0.302146,-0.117507,-0.038288,0.080778,-0.050723,-0.159285,1.000000,0.701699,0.057464,0.237886,0.026979,0.000000
reviews_per_month,0.368858,0.275662,-0.027334,0.117056,-0.018707,-0.288277,0.701699,1.000000,0.144355,0.387509,0.065914,0.017332
calculated_host_listings_count,0.133321,0.144830,0.002377,0.062861,-0.101398,0.063765,0.057464,0.144355,1.000000,0.407154,0.086084,0.095414
availability_365,0.164731,0.172829,-0.009651,0.061113,0.091799,0.081264,0.237886,0.387509,0.407154,1.000000,0.075558,0.088758
neighbourhood_group,0.059137,0.098353,0.538339,0.648797,0.010046,0.000000,0.026979,0.065914,0.086084,0.075558,1.000000,0.124914
room_type,0.070785,0.092035,0.111624,0.153825,0.022859,0.020005,0.000000,0.017332,0.095414,0.088758,0.124914,1.000000

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,9138664,Private Lg Room 15 min to Manhattan,47594947,Iris,Queens,Sunnyside,40.74271,-73.92493,Private room,74,2,6,2019-05-26,0.13,1,5
1,31444015,TIME SQUARE CHARMING ONE BED IN HELL'S KITCHEN...,8523790,Johlex,Manhattan,Hell's Kitchen,40.76682,-73.98878,Entire home/apt,170,3,0,NaN,NaN,1,188
2,8741020,Voted #1 Location Quintessential 1BR W Village...,45854238,John,Manhattan,West Village,40.73631,-74.00611,Entire home/apt,245,3,51,2018-09-19,1.12,1,0
3,34602077,Spacious 1 bedroom apartment 15min from Manhattan,261055465,Regan,Queens,Astoria,40.76424,-73.92351,Entire home/apt,125,3,1,2019-05-24,0.65,1,13
4,23203149,Big beautiful bedroom in huge Bushwick apartment,143460,Megan,Brooklyn,Bushwick,40.69839,-73.92044,Private room,65,2,8,2019-06-23,0.52,2,8
5,4402805,LRG 2br BKLYN APT CLOSE TO TRAINS AND PARK,22807362,Jenny,Brooklyn,Prospect-Lefferts Gardens,40.66025,-73.96270,Entire home/apt,120,3,3,2018-08-28,0.05,1,16
6,30070126,✩Prime Renovated 1/1 Apartment in Upper East S...,4968673,Sean,Manhattan,Upper East Side,40.76831,-73.95929,Entire home/apt,200,5,2,2019-05-26,0.68,1,71
7,34231172,Fully renovated brick house floor in Brooklyn,59642348,Kevin,Brooklyn,Sunset Park,40.64550,-74.01262,Entire home/apt,95,1,9,2019-07-08,9.00,1,106
8,5856760,"Renovated 1BR in exciting, convenient area",29408349,Chad,Manhattan,Chinatown,40.71490,-73.99976,Entire home/apt,179,5,7,2017-04-18,0.14,1,0
9,7929441,Beautiful Loft w/ Waterfront View!,1453898,Anthony,Brooklyn,Williamsburg,40.71268,-73.96676,Private room,105,2,232,2019-06-19,5.00,3,64

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
19990,5192459,Quiet Room in 4BR UWS Brownstone,10677483,Greg,Manhattan,Upper West Side,40.80173,-73.96625,Private room,70,1,0,NaN,NaN,1,0
19991,1327940,Huge Gorgeous Park View Apartment!,3290436,Hadar,Brooklyn,Flatbush,40.65335,-73.96257,Entire home/apt,120,3,13,2016-08-27,0.28,2,327
19992,23612681,Shared Room 1 Stop from Manhattan on the F Train,55724558,Taylor,Queens,Long Island City,40.76006,-73.94080,Private room,55,4,2,2019-06-01,0.65,5,89
19993,34485745,Midtown Manhattan Stunner - Private room,261632622,Royalton,Manhattan,Theater District,40.75491,-73.98507,Private room,100,1,3,2019-06-16,3.00,9,318
19994,25616250,"Stylish, spacious, private 1BR apt in Ditmas Park",125396920,Adam,Brooklyn,Flatbush,40.64314,-73.95705,Entire home/apt,75,3,10,2019-01-03,0.84,1,0
19995,7094539,Tranquil haven in bubbly Brooklyn,2052211,Adriana,Brooklyn,Windsor Terrace,40.65360,-73.97546,Entire home/apt,143,14,2,2016-08-27,0.04,1,10
19996,4424261,Large 1 BR with backyard on UWS,3447311,Sarah,Manhattan,Upper West Side,40.80188,-73.96808,Entire home/apt,200,2,22,2019-05-21,0.50,1,0
19997,4545882,Amazing studio/Loft with a backyard,23569951,Kaveh,Manhattan,Upper East Side,40.78110,-73.94567,Entire home/apt,220,3,28,2019-05-23,0.50,1,293
19998,26518547,U2 comfortable double bed sleeps 2 guests,295128,Carol Gloria,Bronx,Clason Point,40.81225,-73.85502,Private room,80,1,4,2019-07-01,1.48,7,365
19999,33631782,Private Bedroom in Williamsburg Apt!,8569221,Andi,Brooklyn,Williamsburg,40.71829,-73.95819,Private room,109,3,3,2019-04-28,1.07,2,97

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

In [5]:
# Drop outliers
min_price = 10
max_price = 350
idx = df['price'].between(min_price, max_price)

In [6]:
type(idx.head())

pandas.core.series.Series

In [7]:
df = df[idx].copy()

In [8]:
df.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,1.900100e+04,1.900100e+04,19001.000000,19001.000000,19001.000000,19001.000000,19001.000000,15243.000000,19001.000000,19001.000000
mean,1.883041e+07,6.639459e+07,40.728063,-73.950827,122.340456,6.906900,23.797747,1.380928,6.583811,109.725383
std,1.096986e+07,7.782663e+07,0.055389,0.046825,71.530346,21.456544,45.493455,1.689988,31.154750,130.599899
min,2.539000e+03,2.571000e+03,40.508730,-74.239140,10.000000,1.000000,0.000000,0.010000,1.000000,0.000000
25%,9.355498e+06,7.728754e+06,40.688820,-73.982050,66.000000,1.000000,1.000000,0.190000,1.000000,0.000000
50%,1.938754e+07,3.048785e+07,40.721710,-73.954630,100.000000,2.000000,6.000000,0.720000,1.000000,39.000000
75%,2.891952e+07,1.048354e+08,40.763210,-73.934490,160.000000,5.000000,24.000000,2.010000,2.000000,219.000000
max,3.648561e+07,2.742733e+08,40.913060,-73.717950,350.000000,1250.000000,607.000000,27.950000,327.000000,365.000000

In [9]:
# Convert last_review to datetime
df['last_review'] = pd.to_datetime(df['last_review'])

In [10]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,9138664,Private Lg Room 15 min to Manhattan,47594947,Iris,Queens,Sunnyside,40.74271,-73.92493,Private room,74,2,6,2019-05-26,0.13,1,5
1,31444015,TIME SQUARE CHARMING ONE BED IN HELL'S KITCHEN...,8523790,Johlex,Manhattan,Hell's Kitchen,40.76682,-73.98878,Entire home/apt,170,3,0,NaT,NaN,1,188
2,8741020,Voted #1 Location Quintessential 1BR W Village...,45854238,John,Manhattan,West Village,40.73631,-74.00611,Entire home/apt,245,3,51,2018-09-19,1.12,1,0
3,34602077,Spacious 1 bedroom apartment 15min from Manhattan,261055465,Regan,Queens,Astoria,40.76424,-73.92351,Entire home/apt,125,3,1,2019-05-24,0.65,1,13
4,23203149,Big beautiful bedroom in huge Bushwick apartment,143460,Megan,Brooklyn,Bushwick,40.69839,-73.92044,Private room,65,2,8,2019-06-23,0.52,2,8

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19001 entries, 0 to 19999
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              19001 non-null  int64
 1   name                            18994 non-null  object
 2   host_id                         19001 non-null  int64
 3   host_name                       18993 non-null  object
 4   neighbourhood_group             19001 non-null  object
 5   neighbourhood                   19001 non-null  object
 6   latitude                        19001 non-null  float64
 7   longitude                       19001 non-null  float64
 8   room_type                       19001 non-null  object
 9   price                           19001 non-null  int64
 10  minimum_nights                  19001 non-null  int64
 11  number_of_reviews               19001 non-null  int64
 12  last_review                     15243 non-null  datetime64[ns]
 13  reviews_per_month               15243 non-null  float64
 14  calculated_host_listings_count  19001 non-null  int64
 15  availability_365                19001 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(7), object(5)
memory usage: 2.5+ MB

In [30]:
df.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,1.900100e+04,1.900100e+04,19001.000000,19001.000000,19001.000000,19001.000000,19001.000000,15243.000000,19001.000000,19001.000000
mean,1.883041e+07,6.639459e+07,40.728063,-73.950827,122.340456,6.906900,23.797747,1.380928,6.583811,109.725383
std,1.096986e+07,7.782663e+07,0.055389,0.046825,71.530346,21.456544,45.493455,1.689988,31.154750,130.599899
min,2.539000e+03,2.571000e+03,40.508730,-74.239140,10.000000,1.000000,0.000000,0.010000,1.000000,0.000000
25%,9.355498e+06,7.728754e+06,40.688820,-73.982050,66.000000,1.000000,1.000000,0.190000,1.000000,0.000000
50%,1.938754e+07,3.048785e+07,40.721710,-73.954630,100.000000,2.000000,6.000000,0.720000,1.000000,39.000000
75%,2.891952e+07,1.048354e+08,40.763210,-73.934490,160.000000,5.000000,24.000000,2.010000,2.000000,219.000000
max,3.648561e+07,2.742733e+08,40.913060,-73.717950,350.000000,1250.000000,607.000000,27.950000,327.000000,365.000000

In [31]:
type(df.last_review[1])

pandas._libs.tslibs.nattype.NaTType

In [61]:
# import pandas_profiling

In [62]:
new_profile = pandas_profiling.ProfileReport(df)
new_profile.to_widgets()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,neighbourhood_group,room_type
id,1.000000,0.552194,-0.007711,0.079560,-0.045805,-0.072732,-0.301818,0.364916,0.135605,0.157296,0.060242,0.073124
host_id,0.552194,1.000000,0.034685,0.123345,-0.102088,-0.146815,-0.114044,0.271438,0.142490,0.163726,0.101842,0.099374
latitude,-0.007711,0.034685,1.000000,0.048004,0.131985,0.016233,-0.032348,-0.030284,-0.001741,-0.020017,0.536548,0.104121
longitude,0.079560,0.123345,0.048004,1.000000,-0.418123,-0.122840,0.072042,0.127122,0.067613,0.080296,0.647165,0.142159
price,-0.045805,-0.102088,0.131985,-0.418123,1.000000,0.105951,-0.020394,-0.019523,-0.118070,0.058826,0.180662,0.496893
minimum_nights,-0.072732,-0.146815,0.016233,-0.122840,0.105951,1.000000,-0.163825,-0.292265,0.063451,0.077804,0.000000,0.020526
number_of_reviews,-0.301818,-0.114044,-0.032348,0.072042,-0.020394,-0.163825,1.000000,0.707321,0.065840,0.256537,0.025889,0.000000
reviews_per_month,0.364916,0.271438,-0.030284,0.127122,-0.019523,-0.292265,0.707321,1.000000,0.153368,0.396941,0.067091,0.015555
calculated_host_listings_count,0.135605,0.142490,-0.001741,0.067613,-0.118070,0.063451,0.065840,0.153368,1.000000,0.411032,0.085134,0.094443
availability_365,0.157296,0.163726,-0.020017,0.080296,0.058826,0.077804,0.256537,0.396941,0.411032,1.000000,0.078589,0.092727
neighbourhood_group,0.060242,0.101842,0.536548,0.647165,0.180662,0.000000,0.025889,0.067091,0.085134,0.078589,1.000000,0.114948
room_type,0.073124,0.099374,0.104121,0.142159,0.496893,0.020526,0.000000,0.015555,0.094443,0.092727,0.114948,1.000000

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,9138664,Private Lg Room 15 min to Manhattan,47594947,Iris,Queens,Sunnyside,40.74271,-73.92493,Private room,74,2,6,2019-05-26,0.13,1,5
1,31444015,TIME SQUARE CHARMING ONE BED IN HELL'S KITCHEN...,8523790,Johlex,Manhattan,Hell's Kitchen,40.76682,-73.98878,Entire home/apt,170,3,0,NaT,NaN,1,188
2,8741020,Voted #1 Location Quintessential 1BR W Village...,45854238,John,Manhattan,West Village,40.73631,-74.00611,Entire home/apt,245,3,51,2018-09-19,1.12,1,0
3,34602077,Spacious 1 bedroom apartment 15min from Manhattan,261055465,Regan,Queens,Astoria,40.76424,-73.92351,Entire home/apt,125,3,1,2019-05-24,0.65,1,13
4,23203149,Big beautiful bedroom in huge Bushwick apartment,143460,Megan,Brooklyn,Bushwick,40.69839,-73.92044,Private room,65,2,8,2019-06-23,0.52,2,8
5,4402805,LRG 2br BKLYN APT CLOSE TO TRAINS AND PARK,22807362,Jenny,Brooklyn,Prospect-Lefferts Gardens,40.66025,-73.96270,Entire home/apt,120,3,3,2018-08-28,0.05,1,16
6,30070126,✩Prime Renovated 1/1 Apartment in Upper East S...,4968673,Sean,Manhattan,Upper East Side,40.76831,-73.95929,Entire home/apt,200,5,2,2019-05-26,0.68,1,71
7,34231172,Fully renovated brick house floor in Brooklyn,59642348,Kevin,Brooklyn,Sunset Park,40.64550,-74.01262,Entire home/apt,95,1,9,2019-07-08,9.00,1,106
8,5856760,"Renovated 1BR in exciting, convenient area",29408349,Chad,Manhattan,Chinatown,40.71490,-73.99976,Entire home/apt,179,5,7,2017-04-18,0.14,1,0
9,7929441,Beautiful Loft w/ Waterfront View!,1453898,Anthony,Brooklyn,Williamsburg,40.71268,-73.96676,Private room,105,2,232,2019-06-19,5.00,3,64

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
19990,5192459,Quiet Room in 4BR UWS Brownstone,10677483,Greg,Manhattan,Upper West Side,40.80173,-73.96625,Private room,70,1,0,NaT,NaN,1,0
19991,1327940,Huge Gorgeous Park View Apartment!,3290436,Hadar,Brooklyn,Flatbush,40.65335,-73.96257,Entire home/apt,120,3,13,2016-08-27,0.28,2,327
19992,23612681,Shared Room 1 Stop from Manhattan on the F Train,55724558,Taylor,Queens,Long Island City,40.76006,-73.94080,Private room,55,4,2,2019-06-01,0.65,5,89
19993,34485745,Midtown Manhattan Stunner - Private room,261632622,Royalton,Manhattan,Theater District,40.75491,-73.98507,Private room,100,1,3,2019-06-16,3.00,9,318
19994,25616250,"Stylish, spacious, private 1BR apt in Ditmas Park",125396920,Adam,Brooklyn,Flatbush,40.64314,-73.95705,Entire home/apt,75,3,10,2019-01-03,0.84,1,0
19995,7094539,Tranquil haven in bubbly Brooklyn,2052211,Adriana,Brooklyn,Windsor Terrace,40.65360,-73.97546,Entire home/apt,143,14,2,2016-08-27,0.04,1,10
19996,4424261,Large 1 BR with backyard on UWS,3447311,Sarah,Manhattan,Upper West Side,40.80188,-73.96808,Entire home/apt,200,2,22,2019-05-21,0.50,1,0
19997,4545882,Amazing studio/Loft with a backyard,23569951,Kaveh,Manhattan,Upper East Side,40.78110,-73.94567,Entire home/apt,220,3,28,2019-05-23,0.50,1,293
19998,26518547,U2 comfortable double bed sleeps 2 guests,295128,Carol Gloria,Bronx,Clason Point,40.81225,-73.85502,Private room,80,1,4,2019-07-01,1.48,7,365
19999,33631782,Private Bedroom in Williamsburg Apt!,8569221,Andi,Brooklyn,Williamsburg,40.71829,-73.95819,Private room,109,3,3,2019-04-28,1.07,2,97

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

In [12]:
run.finish()